---
const {
  title,
  imgSrc,
  demoURL,
  excerpt,
  repoURL,
  description,
  skills,
  skillIcons,
  slug
} = Astro.props;
const data = {
  title,
  imgSrc,
  demoURL,
  excerpt,
  repoURL,
  description,
  skills,
  skillIcons,
  slug
};
---

<article class="card" data-modal={JSON.stringify(data)} >
  <div class="card__cara--A">
    <img class="card__img" alt={`Imagen de portada de ${title}`} src={imgSrc} />
  </div>
  <div class="card__cara--B">
    <div class="thecnology" data-skills={JSON.stringify(skills)} data-icons={JSON.stringify(skillIcons)}>
      {
        skillIcons.map((icon:string, index:number) => (
          <div class="skill-item">
            <iconify-icon icon={icon} width="20" height="20" />
            <span class="skill__tooltip">{skills[index]}</span>
          </div>
        ))
      }
    </div>
    <h3 class="card__title">{title}</h3>
    <p class="card__description">{excerpt}</p>
    <div class="card__links">
      <button data-slug={slug} class="card__btn" >Details</button>
    </div>
  </div>
</article>
